@tailwind base;
@tailwind components;
@tailwind utilities;


/*noinspection CssUnusedSymbol*/
.active-duration-long {
    -webkit-transition: 0s 500ms;
}

/*noinspection CssUnusedSymbol*/
.active-duration-long:active {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.active-duration-mid {
    -webkit-transition: 0s 300ms;
}

.active-duration-mid:active {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.active-duration-short {
    -webkit-transition: 0s 100ms;
}

.active-duration-short:active {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;

}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #ffffff;
    margin-bottom: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #0D6054;
    border-radius: 100vh;
    border: 4px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0D6054;
}


